<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Node com MongoDB</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li>
               <a href="/products/">Produtos</a> 
               <a href="/products/adicionar">Clique para adicionar</a>
            </li>
        </ul>
    </div>
    {{{body}}}
</body>
</html>